[submodule "libmus"]
	path = libmus
	url = git@github.com:mniak/libmus.git
[submodule "pd.build"]
	path = pd.build
	url = git@github.com:pierreguillot/pd.build.git
[submodule "pure-data"]
	path = pure-data
	url = git@github.com:pure-data/pure-data.git
